body{
margin: 0%;
padding: 0%;
background: blueviolet;
}

.container{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 300px;
    height: 300px;
    margin: 2px auto; 
}

